# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
out_functions
out_publish

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*