.container {
  /* effects max width of layout */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 100%; */
  /* min-width: 200px; */
  padding: 0;
  margin: 0 auto;
}

.main {  
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  
}

.header {
  width: 100%;  
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.footer {
  height: auto;
  width: 100vw;
  background-color: var(--color-darker);
  padding: 1rem; 
  /* white-space: no-wrap; */
}

/* .headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}
*/

/* .backToHome {
  margin: 1rem 0 0;
}  */
